################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
/src/.vs
/LinqToSQL3.Example.DataAccess/bin/Debug
*.dll
/LinqToSQL3.Example.DataAccess/obj/Debug
*.exe
*.pdb
/LinqToSQL3.Example/connectionstrings.json
/.vs/slnx.sqlite
/.vs/Linq2SQL3/v15/.suo
/.vs
